/* Colores página*/

:root{
    --primary-main: #00577B;
    --primary-dark: #152F4A;
    --primary-light: #A9CFDB;
    --secondary-main:#EA7E46;
    --secondary-dark: #00b189;
    --secondary-light: #F1B351;
    
    }

    *{
        margin: 20;
        padding: 20;
        font-family: 'Poppins', sans-serif;
    }

.api_form{
    background-color: #152F4A;
}
